@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,body {
    text-align: center;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
}

/* ------ HEADER ------ */

.header {
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFF;
    background: #111112;
}

.header p {
    margin: auto 0;
    font-weight: 600;
    font-size: 11px;
}

.language_select {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    background: #ffffff14;
}

.language_select .inner{
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.language_select .globe {
    width: 12px;
    height: 12px;
    margin: auto 0;
}

.language_select .dropdown {
    width: 8px;
    height: 5px;
    margin: auto 0;
    transform: rotate(270deg);
}

.chat_with_us {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    background: #27B03F;
}

.chat_with_us:hover {
    background: #259e3b;
    cursor: pointer;
}

.chat_with_us:focus,
.chat_with_us:active {
    background: #1c752c;
}

.chat_with_us img{
    width: 16px;
    height: 16px;
    margin: auto 5px;
}

.cat-select img{
    transform: rotate(270deg);
    width: 8px;
    height: 5px;
    margin: auto auto;
}

.cat-select-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    margin-top: 50px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.cat-select-dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

.cat-select-dropdown-content a:hover {background-color: #ddd;}

.cat-select:hover .cat-select-dropdown-content {display: block;}


/* ------ NAVBAR ------ */
.navbar-container {
    width: 100%;
    height: 88px;
    background: #F9DC38;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-mobile{
    display: none;
}

.navbar {
    width: 89.4%;
    background: #FFF;
    display: flex;
    flex-direction: column;
}
.upper-navbar {
    height: 63%;
    display: flex;
    flex-direction: row;
}
.lower-navbar {
    height: 37%;
    border: 1px solid #EAEAEC;
    display: flex;
    flex-direction: row;
}

/* ------ UPPER NAVBAR ------ */
.upper-navbar .cat-select {
    width: 10%;
    border: 1px solid #EAEAEC;
    border-bottom: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.cat-select img{
    transform: rotate(270deg);
    width: 8px;
    height: 5px;
    margin: 25px 0;
    margin-right: 18px;
    margin-left: 0;
}
.upper-navbar .cat-select p{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: -0.04em;
    /* Black */
    color: #111112;
    opacity: 0.9;
    margin: 20px 8px 20px auto;
}

.upper-navbar .cat-select img{

}
.upper-navbar .search-bar-container {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.upper-navbar .search-bar-container input[type="text"]{
    width: 80%;
    height: 45px;
    border: none;
    border-width : 0;
    border : 0;
    font-size: 16px;
    font-weight: 400S;
    margin-left: 30px;
    margin-top: auto ;
    margin-bottom: auto ;
}

.upper-navbar .search-bar-container input[type="text"]:active,
.upper-navbar .search-bar-container input[type="text"]:focus,
.upper-navbar .search-bar-container input[type="text"]:focus-within,
.upper-navbar .search-bar-container input[type="text"]::-moz-focus-inner,
.upper-navbar .search-bar-container input[type="text"]::-moz-focus-outer{
    height: auto;
    border: none;
    border-width : 0;
    border : 0

}

.upper-navbar .search-bar-container .search-button{
    width: 12%;
    height: 40px;
    background: #F9DC38;
    margin: auto 0;
    display: flex;
    flex-direction: row;
}
.upper-navbar .search-bar-container .search-button:hover{
    background: #fae153;
    cursor: pointer;
}

.upper-navbar .search-bar-container .search-button:focus,
.upper-navbar .search-bar-container .search-button:active{
    background: #fdd90c;
    
}
.upper-navbar .search-bar-container .search-button p {
    margin: auto auto;
    font-weight: 600;
    font-size: 12px;
}

.upper-navbar .search-bar-container .search-button .search-button-icon-div {
    width: 35%;
    height: 40px;
    background: #111112;
}

.upper-navbar .search-bar-container .search-button .search-button-icon-div img {
    margin: 15px auto;

}

.upper-navbar .cart {
    width: 10%;
    border: 1px solid #EAEAEC;
    border-bottom: none;
    cursor: pointer;
}
.upper-navbar .cart img{
    width: 20px;
    height: 20px;
    margin: 16px 0;
}
.upper-navbar .profile {
    width: 10%;
    border: 1px solid #EAEAEC;
    border-bottom: none;
    cursor: pointer;
}

.upper-navbar .profile img{
    width: 20px;
    height: 20px;
    margin: 16px 0;
}
/* ------ LOWER NAVBAR ------ */
.lower-navbar .submenu {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}
.lower-navbar .submenu .page-section p{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin: 8px auto 4px 8px;
    /* identical to box height, or 133% */
    letter-spacing: -0.04em;
    /* Black */
    color: #111112;
    cursor: pointer;

}

.lower-navbar .submenu .page-section .page-underline{
    width: 100%;
    height: 3px;
    margin: auto 0;
    background: #F9DC38;
    margin: 5px auto 8px 8px;
}

.page-section-inactive .drop-down{
    display: flex;
    flex-direction: row;
}

.page-section-inactive p:hover {
    color: #ffd900;
}

.page-section-inactive .drop-down .pointer{
    transform: rotate(270deg);
    width: 8px;
    height: 5px;
    opacity: 0.5;
    margin: auto 0;
}

.page-section-inactive p{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: -0.04em;
    margin: 8px auto 8px 8px;
    /* Black */
    color: #111112;
    opacity: 0.5;
    cursor: pointer;

}

/* ------ CAROUSEL ------ */
.carousel {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 400px;
    margin: 50px auto auto auto;
    background: linear-gradient(90deg, #111112 0%, rgba(17, 17, 18, 0) 65%),url('./assets/images/hero.jpg');
}

.carousel h2{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin: 80px auto 80px 80px;
    /* or 120% */
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.carousel h2:first-letter {
    text-transform: uppercase;
}

.carousel h2::last-word {
    color: #FADD18;
}

.carousel span{
    color: #FADD18;
    display: block;
    text-align: start;
}

.carousel .hero-buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 95%;
    margin: 250px auto 10px auto;
    /* padding-right: 100px; */
}

.carousel .nav-buttons{
    width: 60%;
    display: flex;
    position: absolute;
    flex-direction: row;
    margin: 20px auto auto 80px
}

.carousel .nav-buttons .active {
    width: 10%;
    height: 4px;
    background: #F9DC38;
    margin: 80px 3px 80px 3px;
}

.carousel .nav-buttons .inactive {
    width: 10%;
    height: 4px;
    background: #FFFFFF;
    opacity: 0.16;
    margin: 80px 3px 80px 3px;
}

.carousel .shop-now-button {
    display: flex;
    flex-direction: row;
    width: 140px;
    height: 40px;
    justify-content: end;
    background: rgba(17, 17, 18, 0.4);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(8px);
    margin: 60px 80px auto auto
}
.carousel .shop-now-button p {
    color: #fff;
    margin: auto auto;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    letter-spacing: -0.04em;
}

.carousel .shop-now-icon {
    width: 43px;
    height: 40px;
    text-align: end;
    margin-right: 0;
    top: calc(50% - 40px/2);
    background: #FFFFFF;
}

.carousel .shop-now-icon img {
    margin: 12px 12px;

}

/* .carousel .shop-now-icon.hovered,.carousel .shop-now-button:hover {
    border: 1px solid #f7e166;
}

.carousel .shop-now-button.hovered, .carousel .shop-now-icon:hover {
    background: #f7e166;
} */



/* ------ FEATURES ------*/
.features {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 40px 40px;
    margin-bottom: 28px;
}

.feature {
    width: 346px;
    height: 160px;
    background: #FEFAE1;
    margin: 10px 0;
    /* margin-right: 80px; */
} 

.feature .top {
    width: 40px;
    height: 27.5px;
    margin-left: 15px;
    background: #F9DC38;
    opacity: 0.16;
    transform: skewX(50deg);
}
.feature .side{
    width: 32px;
    height: 40px;
    margin-top: -13.5px;
    background: #fded93;
    transform: skewY(41deg);
}
.feature .frontnside {
    display: flex;
    flex-direction: row;
}

.feature .icon-front{
    width: 40px;
    height: 40px;
    /* left: 32px;
    top: 32px;
    margin: 0 0 0 0; */
    background: #F8D307;
}

.feature .icon-front img{
    width: 22px;
    height: 16px;
    margin: 9px 0;
}

.feature h4{
    text-align: start;
    font-size: 16px;
    font-weight: 700;
    color: #111112;
    margin: 12px auto 0 32px;
}

.feature p{
    text-align: start;
    font-size: 12px;
    font-weight: 400;
    color: #111112;
    margin: 5px auto 32px 32px;

}

.home .reward{
    display: flex;
}

.product-page .reward{
    display: flex;
    margin-top: 24px;
    margin-bottom: 80px;
}
/* ------ LIST ------*/
.list {
    width: 100%;
    height: 620px;
}

.list .heading,
.list .content {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}

.list H2{
    margin: 80px auto auto 80px;
}

.list .navitagor {
    width: 110px;
    height: 45px;
    display: flex;
    flex-direction: row;
    margin: 80px 80px auto auto;
}

.list .navitagor .left-button {
    background: #f4f4f4;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid #EAEAEC;
}

.list .navitagor .right-button {
    background: #f4f4f4;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border: 1px solid #EAEAEC;
}

.list .navitagor .right-button:hover,
.list .navitagor .left-button:hover{
    background: #e8e8e8;

}

.list .navitagor .right-button:active,
.list .navitagor .left-button:active{
    background: #c0bfbf;
}

.list .navitagor .right-button img,
.list .navitagor .left-button img {
   padding-top: 40%;
}

.list .content{
    margin: 88px auto auto 80px;
    overflow-x: auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 0px;
    display: none;
}

.leagues .heading{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    overflow: auto;
}

.leagues .content {
    max-width: 1305px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}


.leagues H2{
    margin: 0 auto auto 80px;
}

.leagues .content{
    margin: 88px auto auto 80px;
}

/* ------ OTHER IMAGE ------*/
.other-image {
    width: 429px;
    height: 240px;
    /* background: url(); */
}

.other-image img{
    width: 429px;
    height: 240px;
    /* position: absolute; */

}

.other-image .under-blur{
    position: absolute;
    width: 429px;
    height: 48px;
    z-index: 1;
    margin-top: -48px;
    background: rgba(17, 17, 18, 0.4);
    backdrop-filter: blur(8px);
}

.other-image .under-blur .icon-box {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 0px;
    top: calc(50% - 48px/2);

    background: #F9DC38;
}

.other-image .under-blur p{
    text-align: start;
    color: #fff;
    margin-left: 24px;
}

.other-image .under-blur .icon-box img{
    width: 12px;
    height: 7px;
    margin: 20.5px 0;
}

/* ------ COLLECTIONS ------*/

.collection{
    width: 100%;
    height: 792px;
}

.collection .heading,
.collection .content {
    max-width: 1352px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* justify-content:space-between */
}

.collection .layout{
    display: flex;
    flex-direction: column;
    margin: 88px auto auto 64px;
}

.collection H2{
    margin: 80px auto auto 80px;
}

.collection .content .image{
    margin: 16px;
}

.collection .content{
    
}




/* ------ PRODUCT ------ */

.product {
    width: 240px;
    height: 340px;
    background: #FFFFFF;
    margin-right: 32px;
    border: 1px solid #EAEAEC;
    cursor: pointer;
}

.product .img-div {
    width: 240px;
    height: 240px;

}

.product img{
    width: 100%;

}


.product .img-div .save-percentage {
    width: 63px;
    height: 24px;
    left: 16px;
    margin: -60px auto 0 0px;
    background: #23C353;
    position: relative;
    z-index: 10;
}

.product .img-div .save-percentage p{
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    padding-top: 6px;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product-details p{
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    margin-left: 10px;
    margin-top: 22px;

}
.product-details .price{
    display: flex;
    flex-direction: row;
    margin: 0 auto auto 10px;
}

.product-details .price h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 0 0;
    /* identical to box height, or 120% */

    letter-spacing: -0.02em;
    color: #111112;
}

.product-details .price p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    margin-top: auto;
    margin-bottom: auto;

    letter-spacing: -0.02em;
    text-decoration-line: line-through;

    color: #EE503E;
}

/* ------ LEAGUE ------ */
.league {
    width: 257px;
    height: 289px;
    background: #FFFFFF;
    margin: auto 20px 32px 0;
}

.league p{
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.02em;

    color: #111112;
}

/* ------ GRID ------ */

/* ------ PERSONAL ------ */
.personal {
    width: 1353px;
    height: 560px;
    background: #FFFFFF;
    max-width: 1512px;
    display: grid;
    grid-template-columns: repeat(2,656px);
    margin: 80px;
}

.personalize {
    width: 656px;
    height: 400px;
    color: #FFF;
    background: 0,url('assets/images/personalization.jpg');
    opacity: 1;
    text-align: start;
}

.personalize h2{
    margin: 216px 379px auto 40px;   
}

.personalize p{
    margin: 24px 40px 40px 40px;
    text-align: start;
    /* line-height: 24px; */

}

.social-share {
    width: 656px;
    height: 400px;
    color: #FFF;
    background: 0,url('assets/images/social-networks.jpg');
    opacity: 1;
    text-align: start;
    margin-left: 40px;
    
}
.social-share .social-icons{
    margin-left: 40px;
}
.social-share h2{
    margin: 216px 379px auto 40px;   
}

.social-share p{
    margin: 24px 40px 40px 40px;
    text-align: start;
    line-height: 24px;

}

.social-share .social-media img{
    width: 16px;
    width: 16px;
}


/* ------ PRODUCT PAGE ------*/
.place-order {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}
.order-form,
.item-viewer {
    width: 560px;    
}

/* ------ ITEM VIEWER ------ */
.item-viewer {
    margin: 40px auto 0 160px;
    display: flex;
    flex-direction: column;
}

.item-viewer img{
    width: 100%;
}

.item-viewer .image-list{
    display: flex;
    flex-direction: row;
}

.item-viewer .image-select{
    margin: 16px 16px auto 0;
    opacity: 0.4;
    cursor: pointer;
}

.item-viewer .image-select-active{
    margin: -4px 16px auto 0;
    opacity: 1;
    cursor: pointer;
}

.item-viewer .image-select-active .pointer{
    /* width: 8px;
    height: 5px; */
    /* margin: 0 0; */
}

.item-viewer .image-select-active .pointer img{
    transform: rotate(270deg);
    width: 8px;
    height: 5px;

}

.history{
    display: flex;
    flex-direction: row;
    margin: 24px auto 0 160px;
}

.history a,
.history p{
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */
    margin: 0 4px;
    color: #1256DB;
    letter-spacing: -0.04em;
    opacity: 0.9;
    text-decoration: none;
    cursor: pointer;
}

.history .current-page{
    color: #111112;
    opacity: 0.48;
}

/* ------ ORDER FORM ------ */

.order-form {
    display: flex;
    flex-direction: column;
    margin: 20px 160px 0 auto;
}

.order-form h2{
    display: flex;
    flex-direction: row;
}

.order-form .pricing {
    display: flex;
    flex-direction: row;
}

.order-form .pricing .price{
    display: flex;
    flex-direction: row;
    margin: 0 auto auto 10px;

}

.order-form .pricing .price h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    margin-right: 8px;
    letter-spacing: -0.02em;

    color: #111112;
}

.order-form .pricing .price .discount{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.02em;
    text-decoration-line: line-through;
    color: #EE503E;
    margin: auto 8px;
}

.order-form .pricing .save-percentage {
    background: #23C353;
    height: 32px;
    width: 91px;
    margin: auto 8px;
}

.order-form .pricing .save-percentage h3{
    color: #fff;
    margin: 0 0 0 0;
    margin-top: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: -0.02em;
}

.order-form .favorite {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 154px;
    border: 2px solid #EAEAEC;
    margin: auto 8px;
    cursor: pointer;
}

.order-form .favorite:hover{
    background: #f7f7f7;
}

.order-form .favorite:focus,
.order-form .favorite:active{
    background: #e9e9e9;
}

.order-form .favorite img{
    width: 12px;
    height: 11px;
    margin: auto;
}

.order-form .favorite p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;
    margin-right: 18px;

    /* Dark Grey */

    color: #393A38;
}

.order-form .text-description{
    /* display: flex;
    flex-direction: row; */
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: -0.02em;

    /* Black */

    color: #111112;

    opacity: 0.8;
}

.order-form .text-description span{
    font-weight: 700;
    opacity: 1;
    text-decoration: underline;
}

.order-form form .size {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    margin-top: 24px;
    

}

.order-form form .size select{
    width: 293px;
    margin: auto 8px;
    margin-right: 0;
    height: 39px;
    border: 1px solid #EAEAEC;
    text-align:start;
    padding-left: 20px;
}

.order-form form .size input[type="button"]{
    width: 130px;
    margin: auto 0;
    margin-left: 8px;
    height: 40px;
    border: 1px solid #EAEAEC;
    text-align:center;

    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    color: #111112;

}

.order-form form .size input[type="button"]:hover{
    background: #EAEAEC;
}

/* .order-form form .size input[type="button"]:focus,
.order-form form .size input[type="button"]:active{
    background: #dadada;
} */

.order-form form .size p{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    width: 120px;
    text-align: start;
    /* identical to box height, or 133% */

    letter-spacing: -0.04em;

    /* Black */

    color: #111112;

}

.order-form form .size p span{
    color: #EE503E;
}

.order-form form input[type='text']{
    width: 424px;
    margin: auto 8px;
    margin-right: 0;
    height: 39px;
    border: 1px solid #EAEAEC;
    text-align:start;
    padding-left: 20px;
}

.order-form form .size .patch{
    width: 428px;
    margin: auto 8px;
    margin-right: 0;
    height: 39px;
    border: 1px solid #EAEAEC;
    text-align:start;
    padding-left: 20px;
}

.order-form form .size .quantity{
    width: 80px;
    margin: auto 8px;
    margin-right: 0;
    height: 39px;
    border: 1px solid #EAEAEC;
    text-align:center;
}

.order-form form .size .add-to-cart{
    width: 552px;
    height: 56px;
    background: #F9DC38;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.order-form form .size .add-to-cart p{
    font-weight: 600;
    font-size: 16.8px;
    line-height: 24px;
    margin-left: 24px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: -0.04em;

    /* Black */

    /* color: #111112; */
}

.order-form form .size .add-to-cart:hover{
    background: #fae153;
    color: #FFF;
}

.order-form form .size .add-to-cart:focus,
.order-form form .size .add-to-cart:active{
    background: #fdd90c;
    
}

.order-form form .size .add-to-cart-icon{
    width: 56px;
    height: 56px;
    text-align: end;
    background: #111112;
    margin: 0 0 0 auto;
}

.order-form form .size .add-to-cart-icon img{
    margin: 18px 18px;
}

/* ------ SOCIALS ------ */
.socials{
    display: flex;
    flex-direction: row;
    width: 112px;
    height: 32px;
    justify-content: space-between;
}

.socials .icon-bg-dark{
    width: 32px;
    height: 32px;
    background: #111112;
    cursor: pointer;
}

.socials .icon-bg-white{
    width: 32px;
    height: 32px;
    background: #FFF;
    cursor: pointer;
}

.socials .icon-bg-white img,
.socials .icon-bg-dark img {
    width: 20px;
    height: 20px;
    margin: 5.5px 5.5px;
}


.pre-footer{
    width: 100%;
    height: 480px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 1px solid #EAEAEC;
    /* margin-top: 160px; */
}

.pre-footer-div{
    margin: 80px auto 110px 80px;
}

.pre-footer-div h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    margin-bottom: 24px;
    letter-spacing: 0.02em;
    text-align: start;

    color: #111112;
}

.pre-footer-div p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    text-align: start;
    color: #111112;
    cursor: pointer;

}

.pre-footer-div .subscribe {
    display: flex;
    flex-direction: row;
}

.pre-footer-div .subscribe input{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 12px 20px;*/
    gap: 10px; 
    
    width: 240px;
    height: 36px;
    text-align:start;
    padding-left: 20px;
    
    background: #FFFFFF;
    border: 1px solid #EAEAEC;
    backdrop-filter: blur(8px);
}

.pre-footer-div .subscribe-button{
    width: 40px;
    height: 40px;
    background: #F9DC38;
    cursor: pointer;
}

.pre-footer-div .subscribe-button:hover{
    background: #ffe551;

}

.pre-footer-div .subscribe-button:focus,
.pre-footer-div .subscribe-button:active{
    background: #feda0e;
}

.pre-footer-div .subscribe-button img{
    margin: 14px 14px;
}

.footer {
    width: 100%;
    height: 80px;
    background: #fff;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);

}

.footer p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    color: #111112;

    margin: 32px auto 32px 80px;
}

.footer img{
    width: 350px;
    height: 40px;
    margin: 20px 80px 20px auto;

}

/* ------ MOBILE ------ */
.navbar-mobile{
    width: 100%;
    margin: 1%;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


@media only screen and (max-width: 700px) {

    .header p {
        margin: auto 0;
        /* font-weight: 600;
        font-size: 11px; */
    }

    .feature {
        width: 90%;
        height: 180px;
        margin: 0;
        margin: 20px 12px;
    } 

    .features {
        grid-template-columns: repeat(2,1fr);
        margin: 0;
    }

    .list h2{
        margin-left: 16px;
    }

    .list .content{
        margin: 88px auto auto 16px;
    }

    .leagues h2{
        margin-left: 10px;
        margin-bottom: 24px;

    }

    .league {
        width: 189.13px;
        /* margin: 0 0 32px 0;
        padding: 0 8.57px; */
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    .league img{
        width: 189.13px;
        height: 189.13px;

    }

    .leagues .content {
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        margin: 0 0;
    }
    
    .navbar{
        display: none;     
    }
    .navbar-mobile{
        display: block;
    }

    .navbar-mobile .menu{
        margin-left: 1rem;
        position: relative;
    }

    .menu-container{
        display: flex;
        justify-content: flex-start;
        background: #fff;
        align-items: flex-start;
        flex-direction: column;
        text-align: end;

        padding: 2rem;
        position: absolute;
        top:40px;
        left: 0;
        margin-top: 1rem;
        min-width: 210px;
        box-shadow: 0 0 5 rgba(0,0,0,0.2);
    }
    .menu-container a{
        color: #111112;
        text-decoration: none;
    }



    .navbar-container{
        background: #fff;
        border-bottom: 1px solid #EAEAEC;
        display: flex;
        flex-direction: row;


    }

    .navbar-container .menu{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    .navbar-container .menu-container{
        cursor: pointer;
    }
    .navbar-container .menu-icon{
        cursor: pointer;
        margin:  auto 0 0 0;
    }

    .navbar-container .menu .search-icon{
        /* margin-left: 31.46px; */
        width: 17.09px;
        height: 18px;
        margin: auto auto auto 31.46px;
        cursor: pointer;
    }

    .navbar-container .menu .cart-icon{
        /* margin-left: 31.46px; */
        width: 20px;
        height: 20px;
        margin: auto 28px auto auto;
        cursor: pointer;
    }

    .navbar-container .menu .profile-icon{
        /* margin-left: 31.46px; */
        width: 20px;
        height: 20px;
        margin: auto 6px auto 0;
        cursor: pointer;
    }

    .navbar-container .menu .dropdown-icon{
        transform: rotate(270deg);
        width: 8px;
        height: 5px;
        margin: auto 20px auto 0;
        cursor: pointer;

    }

    .other-image {
        width: 168px;
        height: 168px;
        /* background: url(); */
        margin: 0;
    }

    .other-image img{
        width: 168px;
        height: 168px;
        /* background: url(); */
    }

    .other-image .under-blur{
        width: 168px;
    }

    .collection {
        margin: 0;
        padding: 0;
    }

    .collection .heading,
    .collection h2{
        margin: 0;
    }

    .collection .layout{
        margin: 0;
    }

    .collection .content {
        grid-template-columns: repeat(2,1fr);
        margin: 0;
    }

    .personal {
        width: 80%;
        grid-template-columns: 1fr;
        margin: 0 16px;

    }

    .personalize h2,
    .social-share h2{
        margin: 0;   
    }
    
    .personalize p,
    .social-share p{
        margin: 0;
        /* line-height: 24px; */
    
    }

    .personalize,
    .social-share {
        width: 358px;
        height: 218.29px;
        margin: 0;
        /* ma: 0 16px; */
    }

    .pre-footer{
        width: 100%;
        grid-template-columns: 1fr;
        height: auto;
        width: 100%;
        margin: 0;
        
    }

    .pre-footer-div{
        margin: 0;
        margin-left: 16px;
        margin-bottom: 40px;
    }

    .footer {
        width: 100%;
        max-width: 100%;
        grid-template-columns: 1fr;
    }



    .carousel {
        width: 100%;
    }

    .carousel h2{
        text-align: left;
    }

    .carousel h2{
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        line-height: 48px;
        margin: 24px auto 190px 24px;
        /* or 120% */
        line-height: 32px;
        /* or 133% */
        
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }

    .carousel .hero-buttons {
        width: 100%;
    }

    .carousel .nav-buttons{
        width: 60%;
        display: flex;
        flex-direction: row;
        margin: 20px auto auto 24px
    }

    .history{
        margin: 16px auto 24px 16px;
    }

    .place-order {
        grid-template-columns: 1fr;
    }

    .order-form,
    .item-viewer {
        width: 65%;
        margin: 0 auto 0 17%;   
    }

}







